
extends report_base

//- 
//- Copyright (C) 2016-2017 DBot. All other content, that was used, but not created in this project, is licensed under their own licenses, and belong to their authors.
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-      http://-www.apache.org/licenses/LICENSE-2.0
//-  
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
//- 

block append header
	link(rel='stylesheet', href='../generic_roles.css')

block append contents
	table#perms
		tr.tabheader
			td.rolename Rolename
			td.old old
			td.new new
			td.date Date
		each row in data
			tr
				if row.new > row.old
					td.rolename.up_col= row.name
				else
					td.rolename.down_col= row.name

				td.old= row.old
				td.new= row.new
				td.date= row.date
