
extends report_base

//- 
//- Copyright (C) 2016-2017 DBot. All other content, that was used, but not created in this project, is licensed under their own licenses, and belong to their authors.
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-      http://-www.apache.org/licenses/LICENSE-2.0
//-  
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
//- 

block append header
	link(rel='stylesheet', href='../users.css')
	style
		include top10.css

block append contents
	span.topwrapper
		table#perms
			tr.tabheader
				td.rank Rank
				td.username Username
				td.count Phrases
				td.totalw Total words said
				td.totalwq Total unique words said
			each row in data
				tr
					td.rank= row.rank
					td.username.hintp
						span.username_wrap= row.username
						if row.nickname
							span.hint= row.nickname
						else
							span.hint User has no nickname
						span.avatar
							img.avatar(src=row.avatar)
							img.avatar_hint(src=row.avatar)

					td.count= row.count
					td.totalw= row.totalw
					td.totalwq= row.totalwq



